<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>#IndiaFightsCorona COVID-19 in India</title>
    <script src="https://kit.fontawesome.com/8815150831.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-tooltip@3.0.2/dist/css/bulma-tooltip.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-pageloader@0.3.0/dist/css/bulma-pageloader.min.css">
    <style>
        .marquee_display
        {
            display: inline-block;
            float: left;
        }
        body{
            user-select: none;
        }
    </style>
  </head>
  <body>
<!--Navbar-->
<div class="pageloader is-active is-black"><h5 class="title greet"></h5></div>
    <nav class="navbar is-black is-fixed-top" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="" style="font-weight: 900;">
            Covid-19 India
          </a>
      
          <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
      
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            
      
            <a class="navbar-item">
              Covid News
            </a>
          </div>
        </div>
      </nav>

      <!--navbar-->
      <div class="hero is-medium is-black">
          <div class="hero-body">
              <div class="container">
                  <div class="columns">
                      <div class="column is-6">
                          <h1 class="title is-size-1">#IndiaFightsCorona</h1>
                          <p class="subtitle">Track Daily Covid-19 Data in India. built in 🐍3</p>
                          <a href="#" class="is-danger button is-rounded">About Developer</a>
                      </div>
                      <div class="column is-6">
                          <h1 class="title is-size-1">Live Data</h1>
                          <p>{{heading["title"]}}</p>
                          <span>{{heading["stamp"]}}</span><br><br>
                           <table class="table is-narrow" style="background: #0a0a0a;border:0">
                               <tr style="border: 0;">
                                   <th class="has-text-white">
                                       Total Cases
                                   </th>
                                   <th class="has-text-white">
                                       Active Cases 
                                   </th>
                                   <th class="has-text-white">
                                       Recovered
                                    </th>
                                    <th class="has-text-white">
                                        Deaths
                                    </th>
                               </tr>
                               <tr>
                                <td class="has-text-warning">{{data["total_case"]}}</td>
                                <td class="has-text-info">{{data["active_case"]}} ({{((data["active_case"].replace(",","")|int/data["total_case"].replace(",","")|int)*100)|round}}%)</td>
                                <td class="has-text-success">{{data["recovered"]}} ({{((data["recovered"].replace(",","")|int/data["total_case"].replace(",","")|int)*100)|round}}%)</td>
                                <td class="has-text-danger">{{data["deaths"]}} ({{((data["deaths"].replace(",","")|int/data["total_case"].replace(",","")|int)*100)|round}}%)</td>
                                </tr>
                                 
                           </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <section class="section">
        
            <marquee direction="left" onmouseover="this.stop();" onmouseout="this.start();">
                {%for i in state_data %}
                <!-- -->
                    <div class="notification is-black has-tooltip-multiline" style="display: inline-block;margin-top: 65px;margin-right: 15px;" data-tooltip="Active Case:{{state_data[i]['data']['active']}},Recovered : {{state_data[i]['data']['recovered']}}, Deaths: {{state_data[i]['data']['deaths']}}"><p>{{state_data[i]["name"]}}</p>
                        <p class="subtitle">{{state_data[i]["data"]["total"]}}</p>
                    </div> 
             
                {%endfor%}
            </marquee>
     
      </section>

      <section class="section">
            <div class="container">
                <!-- <a class="button is-primary is-rounded" style="margin: 15px auto;" id="tab">Show Card View</a> -->
                <h1 class="title is-size-4" style="font-weight: 100;">Card View</h1>
                <div class="columns" style="flex-wrap: wrap;">
                   
                        
                            
                            {%for i in state_data|sort%}
                            <div class="column is-4"><div class="card" style="max-width:450px;margin-top: 20px;background-color: #262626;border-radius: 15px;">
                                <!-- <div class="card-image">
                                  <figure class="image is-4by3">
                                    <img src="https://source.unsplash.com/random?{{state_data[i]['name']}}" alt="Placeholder image">
                                  </figure>
                                </div> -->
                                <div class="card-content">
                                  <div class="media">
                                    <div class="media-content">
                                      <p class="title is-4 has-text-white">{{state_data[i]["name"]}}</p>
                                      <p class="subtitle is-6 has-text-white">Confirmed {{state_data[i]["data"]["total"]}}</p>
                                    </div>
                                  </div>
                              
                                  <div class="content">
                                   <p class="has-text-warning">Active Cases:{{state_data[i]["data"]["active"]}} </p>
                                   <p class="has-text-success">Recovered Cases:{{state_data[i]["data"]["recovered"]}}</p>
                                   <p class="has-text-danger">Deaths :{{state_data[i]["data"]["deaths"]}}</p>
                                   
                                  </div>
                                </div>
                              </div>
                            </div>
                            {%endfor%}
                      
                  
                </div>
            </div>
      </section>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="/tilt.jquery.js"></script>
<script>
    $(document).ready(function(){
        $('#tab').on('click',()=>{
            $('.card').toggle();
        })
        

        const greet = ()=>{
        let greet = 'Morning'
        const day = new Date()
        let hour = day.getHours()
        if(hour<11 && hour > 0)
            {
                greet = 'Morning'
            }
        else if(hour >=12 && hour <=16)
        {
            greet = 'Afternoon'
        }
        else if(hour >=17 && hour <=19)
        {
            greet = 'Evening'
        }
        else{
            greet = 'Night'
        }

        return greet;
    }
        let greets = greet();
    
    $('.greet').text(`Good ${greets} India 🙏 Wait......`);
   
        setTimeout(function(){ 
    $('.pageloader').removeClass('is-active');

    
}, 5000);




    

    });
</script>
  </body>
</html>